<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.kitthemes.com/html/rentnow/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Dec 2019 08:13:53 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RentNow - Responsive Car Rental Template</title>

    <!-- Preloader CSS-->
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

    <!--
    All CSS Codes Loaded
    Ex: bootstrap, fontawesome, style, etc.
    -->
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/libs/fontawesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/libs/linearicons/linearicons.css">
    <link rel="stylesheet" href="~/css/rentnow-icons.css">
    <link rel="stylesheet" href="~/libs/flatpickr/flatpickr.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/style.css">

    <!-- Google Map JS-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOdKtT5fapH3_OfhV3HFeZjqFs4OfNIew"></script>
</head>
<body class="rn-preloader">
    <div id="preloader"></div>
    <div id="preloader-overlayer"></div>

    @await Component.InvokeAsync("Header")

    @RenderBody()
    @await Component.InvokeAsync("Footer")
    
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/libs/flatpickr/flatpickr.min.js"></script>
    <script src="~/js/starrr.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/scripts.js"></script>
</body>

<!-- Mirrored from demo.kitthemes.com/html/rentnow/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Dec 2019 08:14:09 GMT -->
</html>